<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dupletstudios.audio">

    <application
        android:allowBackup="true"
        android:name=".presentation.application.AudioListenerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <activity android:name=".presentation.view.activity.AudioListenerActivity">

        </activity>

        <activity android:name=".presentation.view.activity.SplashScreen" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>

        <activity android:name=".presentation.view.activity.UserDetailActivity" />
    </application>

</manifest>
